<%= render 'layouts/navbar_admin', :active => "templates" %>
<div class="page-header">
  <h1>Alle Vorlagen</h1>
</div>
<% if @meme_templates.count == 0 %>
<%= "Es sind keine Vorlagen vorhanden" %>
<% end %>
<div class="row">
<%= render partial: "acp/meme_templates/meme_template", collection: @meme_templates %></div>
<%= paginate @meme_templates %>