<%= render 'acp/navbar_admin', :active => "users" %>
<div class="page-header">
  <h1>Benutzerverwaltung</h1>
</div>
<table class="table table-striped">
    <tr>
      <td><b>Benutzername</b></td>
      <td><b>Emailadresse</b></td>
      <td><b>Admin?</b></td>
      <td><b>Registrierungsdatum</b></td>
      <td><b>Zuletzt eingeloggt</b></td>
      <td><b>löschen</b></td>
      <td><b>bearbeiten</b></td>
    </tr>
  <%= render partial: "acp/users/user", collection: @users %>
</table>
<%= paginate @users %>