<%= render 'acp/navbar_admin', :active => "memes" %>
<div class="page-header">
  <h1>Alle Memes</h1>
</div>
<% if @memes.count == 0 %>
<%= "Es sind keine Memes vorhanden" %>
<% end %>
<div class="row">
<%= render partial: "acp/memes/meme", collection: @memes %></div>
<%= paginate @memes %>