<div class="page-header">
	<h1>Meine Memes</h1>
</div>
<div align="right">
	<%= link_to newmeme_path, :class => "btn btn-primary btn-lg" do %>
	<i class="glyphicon glyphicon-plus-sign"></i> Neues Meme
	<% end %>
</div>
<br />
<% if @memes.all.count == 0 %>
<%= "Du hast keine Memes erstellt" %>
<% end %>
<div class="row">
	<%= render partial: "memes/meme", collection: @memes %>
</div>
<%= paginate @memes %>