<div class='col-md-12'>
<div class='row'>
<div class='col-md-12'>
    <div class="thumbnail">
      <div class="caption">
        <h3><%= meme.title %></h3>
        <hr>
        <p>von:
        <% if meme.user_id != nil %>
        <% @User = User.find(meme.user_id) %>
        <%= @User.username %>
        <% else %>
        unregistriert
        <% end %>
        - erstellt: <%= meme.created_at %>
        </p>
      </div>
      <%= link_to image_tag('/uploads/generated_memes/' + meme.id.to_s + '.jpg'), meme_path(meme.id.to_s) %>
    </div>
  </div>
  </div>
  </div>