<div class="page-header">
  <h1>Startseite</h1>
</div>
<% if @memes.count == 0 %>
<%= "Keine Einträge" %>
<% end %>
<div class="row">
<%= render partial: "pages/meme", collection: @memes %>
<%= paginate @memes %>
</div>