  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag(meme_template.template_img.to_s), meme_template_path(meme_template.id.to_s) %>
      <div class="caption">
        <p style= "word-wrap: break-word;"><b><%= meme_template.title %></b></p>
        <p>Erstellt: <%= meme_template.created_at %></p>
        <p>Private Vorlage:
        <% if meme_template.isprivate == false %>
        Nein
        <% else %>
        Ja
        <% end %></p>
        <p>
        <%= link_to delete_meme_template_path(meme_template.id.to_s), :class => 'btn btn-danger', :method => :delete  do %>
          <i class="glyphicon glyphicon-trash"></i> Löschen
        <% end %>
        </p>
        <p></p>
      </div>
    </div>
  </div>