<div class="page-header">
  <h1>Meine Templates</h1>
</div>
<div align="right">
<%= link_to newtemplate_path, :class => "btn btn-primary btn-lg" do %>
  <i class="glyphicon glyphicon-plus-sign"></i> Neues Template
<% end %>
</div>
<br />
<% if @meme_templates.all.count == 0 %>
<%= "Du hast keine Templates erstellt" %>
<% end %>
<div class="row">
<%= render partial: "meme_templates/meme_template", collection: @meme_templates %></div>
<%= paginate @meme_templates %>